astroid==2.11.7
attrs==21.4.0
dill==0.3.5.1
importlib-metadata==4.12.0
iniconfig==1.1.1
isort==5.10.1
lazy-object-proxy==1.7.1
Mako==1.2.1
Markdown==3.4.1
MarkupSafe==2.1.1
mccabe==0.7.0
packaging==21.3
pdoc3==0.10.0
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
pylint==2.14.5
pylint-pytest==1.1.2
pyparsing==3.0.9
pytest==7.1.2
pytest-lazy-fixture==0.6.3
tomli==2.0.1
tomlkit==0.11.1
typing_extensions==4.3.0
wrapt==1.14.1
zipp==3.8.1
